{% extends "marketplace/base.html" %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
        <h1>Home</h1>
        <div>
            {% if products %}
                <ul>
                    {% for product in products%}
                        <li>
                            <a href="{% url 'marketplace:product_page' product.seller.slug product.slug %}">
                                {{ product.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no products</strong>
            {% endif %}
        </div>


{% endblock %}
