{% extends "marketplace/base.html" %}

{% block title_block %}
    {% if product %}
        {{ product.name }}
    {% else %}
        Unknown product
    {% endif %}
{% endblock %}

{% block body_block %}
        {% if product %}
            <h1>{{ product.name }}</h1>
            <div>
                <ul>
                    <li> {{ product.name }} </li>
                    <li> {{ product.tag }} </li>
                    <li> {{ product.seller }} </li>
                    <li> {{ product.price }}</li>
                    <li> {{ product.description }}</li>
                    <li> buy </li> 
                </ul> 
            </div>
            <div>
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt= "{{ product.name }}" />
                {% else %}
                    <p> no image available </p>
                {% endif %}
            </div>
            <div>
                <ul>
                    {% if product.seller.profile_picture %}
                        <img src="{{ product.seller.profile_picture.url }}" alt= "{{ product.seller.user.profile_picture}}" />
                    {% else %} 
                        <p> no image available </p>
                    {% endif %}
                    <li> <a href="{% url 'marketplace:seller_page' product.seller.slug %}">
                                {{ product.seller.user.username }}
                    </a></li>
                    <li> {{ product.seller.user.email }} </li>
                    <li> {{ product.seller.avg_rating }} </li>
                </ul> 
            </div>
        {% endif %}
{% endblock %}
